babel
pytest-cython
jinja2
pillow
pyqt5
pygments
sphinx
alabaster
certifi
chardet
click
cycler
python-dateutil
docutils
idna
imagesize
kiwisolver
markupsafe
matplotlib
mpi4py
nose
numpy
numpydoc
packaging
pandas
psutil
pyparsing
scipy
setuptools
sip
six
snowballstemmer
sphinx-rtd-theme
sphinxcontrib.websupport
statsmodels
toml
urllib3
tz
requests